trigger:
  - main

pool:
  name: Azure Pipelines
  vmImage: ubuntu-latest

variables:
  aws.region: us-east-1

stages:
- stage: BuildStage
  displayName: Build Stage
  jobs:
  - job: BuildJob
    displayName: Build Job
    steps:
      # We emulate project build with file copying.
    - powershell: 'Copy-Item "version.txt" -Destination "app-version.txt"'
      displayName: 'Build Project'

    - task: PublishPipelineArtifact@1
      displayName: Publish Pipeline Artifact
      inputs:
        targetPath: app-version.txt
        artifact: project-binaries

- template: deploy-stage-template.yaml
  parameters:
    envName: test
    envDisplayName: Test

- template: deploy-stage-template.yaml
  parameters:
    envName: prod
    envDisplayName: Production
