pool:
  name: Azure Pipelines
  vmImage: ubuntu-latest

  variables:
  aws.region: us-east-1

stages:
- stage: BuildStage
  displayName: Build Project
  jobs:
  - job: BuildJob
    displayName: Build Project
    steps:
    - task: S3Upload@1
      displayName: 'Deploy to S3'
      inputs:
        awsCredentials: '$(AwsCredentials)'
        bucketName: '$(TargetBucketName)'
        sourceFolder: .
        globExpressions: version.txt
